@import "../../index.scss";

label {
  font-size: 16px;
  line-height: 19px;
  color: $secondary;
  margin-bottom: 10px;
  width: 100%;
  @include flexCenter(start, start, column);
  input {
    padding: 10px;
    border: 1px solid #a1a4af;
    color: $formInput;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    margin: 3px 0;
    font-size: 14px;
    line-height: 16px;
    background-color: white;
  }
}
